######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### exe ###
*.exe
*.dll
*.sys

### MAVEN ###
.mvn/

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup

!*/build/*.java
!*/build/*.html
!*/build/*.xml

### VS Code ###
.vscode/

# rebel
rebel.xml

### gradle构建 ###
*.gradle

### office ###
# 忽略office文件打开临时文件 #
[~$]*.*

######################################################################
# 项目账号数据屏蔽
reedtools/src/test/java/top/ireed/data/reed.json