<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue2.6.12.js"></script>
</head>
<body>
<div id="app">
    不推荐不可以的方法
    <ul>
        <li>{{array[0]}}</li>
        <li>{{array[1]}}</li>
        <li>{{array[2]}}</li>
        <li>{{array[3]}}</li>
        <li>{{array[4]}}</li>
    </ul>
    <ul>
        一般的循环 数组
        <li v-for="val in array">{{val}}</li>
        有下标的循环 数组 这里的变量2实际是数组下标 下标数据只能定义一个,多余的会变成null
        <li v-for="(变量, 变量2) in array">val = {{变量}}; index = {{变量2}}</li>
        一般的循环 JSON
        <li v-for="val in json">{{val}}</li>
        带有key的循环 JSON
        <li v-for="(val, key) in json">val = {{val}}, key = {{key}}</li>
        带有key的循环 JSON
        <li v-for="(val, key, index) in json">val = {{val}}, key = {{key}}, index = {{index}}</li>
    </ul>
</div>
<script type="text/javascript">
    const m = {
        array: ['北京', '济南', '上海', '广州', '湖北'],
        json: {
            firstCity: '北京',
            secondCity: '济南',
            thirdCity: '上海',
            fourthCity: '广州',
            fivthCity: '湖北'
        }
    };

    const vm = new Vue({
        el: '#app',
        data: m,
        methods: {}
    });
</script>
</body>
</html>
