<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


	<!--以下为欢迎页,集中设置方法-->
	<welcome-file-list>
		<!--本次输入http://localhost:login.jsp-->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--ShiroFilter过滤器:将会对当前网站下所有的请求进行拦截
	  然后将当前请求【subject】与【SecuriyManager】自动绑定到
	  与本次请求相关的线程-->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--配置一个Shiro框架监听器，
		在项目启动时，负责将shiro.ini文件加载到内存中，并创建对应【SecuriyManager】
		环境加载监听器-->
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<!--配置SpringMVC框架中核心控制器DispatcherServlet-->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<!--
		   springmvc中设置 url-pattern有两种方式：
		   1.扩展名方式： *.xxxx , xxxx是自定义的扩展名，例如 *.do , *.action, *.mvc等等
			 http://localhost:8080/myweb/some.do

		   2.使用斜杠“/”
		-->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!--页面跳转控制器-->
</web-app>
