/************************************************************************************************
  1.标记选择符,把html中的标记当做选择符,也就是给指定的标记制定一种现实效果,所有的html标记都可以被
    当做标记选择符来使用,这样,浏览器遇到这样的标记,就会按照规定好的效果进行显示
	text-decoration:none; 文字修饰,去掉文字下面的下划线
	color:#FF0000; 控制文字的颜色
  ************************************************************************************************/

a { text-decoration:none; color:#FF0000;}


/************************************************************************************************
2.标识选择符,通过#id值格式来指定
  在html标记中通过id属性来使用标识选择符
************************************************************************************************/
#img1 { width:900px; height:1000px;}


/************************************************************************************************
3.类选择符,通过.class值格式来指定,也就是把标识选择符中的#替换成.
  在html标记中通过class属性来使用类选择符
************************************************************************************************/
.img2 {width:900px; height:1000px;}
